/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
    text-size-adjust: 100%;
    overflow-x: hidden;
    color: rgb(255, 255, 255);
    font: 300 14px / 1.9 "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
    background: rgb(0, 0, 0);
}

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

header{
  text-align: center;
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 1;
}

.header-cover{
  z-index: 2;
  text-align: center;
  height: 60px;
  width: 100%;
  position: fixed;
}

.header-logo{
  display: block;
  height: 25px;
  width: auto;
  padding-top: 15px;
  margin: 0 auto;
  text-align: center;
}

header .fa-bars{
  position: absolute;
  right: 12px;
  top: 18px;
  padding-right: 10px;
}

.header-nav{
  background-color: black;
  text-align: left;
  transform: translateY(-110%);
  transition: 0.3s;
}

.header-menu li{
  padding: 18px 0 18px 0;
  border-bottom: 1px solid #FFF;
}

.header-menu a{
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  font-size: 14px;
}

.fa-chevron-right{
  padding: 0 12px 0 12px;
}

.header-icon{
  padding: 18px 0 12px 12px;
}

.drower-btn:checked ~ .header-nav{
  transform: translateY(10%);
}

.drower-btn{
  position: absolute;
  right: 22px;
  top: 18px;
  transform: scale(2);
  opacity: 0;
  z-index: 3;
}

.sidebar{
  width:20%;
  height: 100%;
  position: fixed;/*スクロールしても固定されるようになる*/
  right: 0;
}

.side-logo{
  height: 22.42px;
  width: 85px;
  padding: 25px 0 50px 0;
}

.side-contents{
  padding-left: 16%;
}

.nav li{
  padding-bottom: 24px;
}

.nav li:hover{
  text-decoration: underline;
}

.nav a{
  color: #fff;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  font-size: 14px;
}

.side-icon{
  padding-top: 45px;
}

.size{
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 1.5em;
  opacity: 1;
}

.size:hover{
  opacity: 0.5;
}

.contents{
  width: 80%;
}

.topimage{
  width: 100%;
}

.message-wrapper{
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.message-wrapper p{
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  text-align: left;
  margin-bottom: 85px;
}

img{
  vertical-align: bottom;
}

.photo-wrapper{
  width: 100%
}

.photo-wrapper img{
  width: 33.33%
}

.photo-wrapper span img{
  width: 100%
}

.brand-wrapper{
  margin: 0 auto;
  text-align:center;
  width: 80%;
}

.heading{
  padding-top: 80px;
  padding-bottom: 10px;
  font-family: 'Modern Antiqua', 'Noto Sans JP',serif;
  font-size: 22px;
  border-bottom: 3px solid #FFF;
  display: inline-block;
  margin-bottom: 55px;
}

.content-item{
  width: 25%;
  padding: 10px 25px;
  text-align: left;
  margin: 0 auto;
}

.content-item img{
  width: 100%;
  padding-bottom: 10px;
}

.brand-cntents{
  border-bottom: 1px solid #FFF;
  padding-bottom: 55px;
  display: flex;
}


.project-contents{
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding-bottom: 50px;
  border-bottom: 1px solid #FFF;
}

.project_img{
  width: 370px;
  height: 225px;
  padding: 0 10px 30px 20px;
  float: left;
}

.project-item p{
  text-align: left;
  padding-left: 10px;
  padding-bottom: 50px;
}

.company-wrapper{
  margin: 0 auto;
  text-align:center;
  width: 80%;
  padding-bottom: 20%;
}

.company-contents{
  display: flex;
  width: 100%;
  padding-top: 30px;
}

.company-contents p{
  text-align: left;
  margin-right: 10%;
}

.ggmap{
  width: 58%;
  position: relative;
  padding-bottom: 10%;
}

.ggmap iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer{
  width: 80%;
  padding-bottom: 75px;
  text-align: center;
}

footer a{
  color: blue;
}
