@media(max-width:640px){
  .sidebar{
    display: none;
  }

  .contents{
    width: 100%;
  }

  .photo-wrapper img{
    width: 100%
  }

.brand-cntents{
    display: block;
  }

  .content-item{
    width: 100%;
    padding: 0 0 50px 0;
    text-align: center;
  }

  .content-item img{
    width: 30%;
  }

  .content-item p{
    text-align: center;
  }

  .project-item img{
    float: none;
  }

  .company-contents{
    display: block;
  }

  .company-contents p{
    width: 260px;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  .ggmap{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    padding-bottom: 60%;
  }

  footer{
    width: 100%
  }

}

@media(min-width:640px){
  header{
    display: none;
  }
}
